<div class="content">
    <div class="text">
      <div class="close" (click)="close()">X</div>

      <p><b>Legende:</b></p>

      <div class="leg">
        <div class="location"></div>
        <p>Aktueller Standort</p>
      </div>

      <div class="leg">
        <div class="coord">!</div>
        <p>Station</p>
      </div>

      <div class="leg">
        <div class="coord park">P</div>
        <p>Parkplatz</p>
      </div>

      <div class="leg">
        <div class="coord qr">Q</div>
        <p>QR-Code Scanner</p>
      </div>
    </div>
</div>
