<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" color="light"></ion-back-button>
    </ion-buttons>

    <ion-title>
      Digitaler Guide
    </ion-title>

    <ion-buttons slot="end">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="solid-primary">
  <div class="map-wrapper">

    <div class="coord"
          style="left: {{item.coords.x}}%; top: {{item.coords.y}}%"

          *ngFor="let item of data; let i = index"

          (click)="showModal(i)"

          >
    </div>

    <img src="../assets/map.png" />

  </div>

</ion-content>
