<ion-header class="ion-no-border">
  <ion-toolbar class="solid-primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" color="light"></ion-back-button>
    </ion-buttons>

    <ion-title>
      Digitaler Guide
    </ion-title>

    <ion-buttons slot="end">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="solid-primary" [fullscreen]="true">
  <div class="map-wrapper">
    <div class="coord"
      style="{{ setObjectLocation(item.coords) }}"
      *ngFor="let item of data; let i = index"
      (click)="showModal(i)"
    >!</div>

    <div class="location" style="right: {{wp}}%; top: {{hp}}%"></div>

    <img src="../assets/map.png" />

  </div>

  <div class="info" (click)="legend()">i</div>
  <div id="qropen" class="info" (click)="startScanning()">Q</div>

</ion-content>

<div id="qrclose" (click)="stopScanning()">X</div>
