<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" color="light"></ion-back-button>
    </ion-buttons>

    <ion-title>
      Digitaler Guide
    </ion-title>

    <ion-buttons slot="end">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="solid-primary">
  <div class="map-wrapper">

    <div class="coord"
          style="{{ setObjectLocation(item.coords) }}"

          *ngFor="let item of data; let i = index"

          (click)="showModal(i)"

          >


    </div>


    <div class="location" style="right: {{wp}}%; top: {{hp}}%"></div>

    <img src="../assets/map.png" />

  </div>


    <div id="ion-padding">
      <p>Weite: {{ wp }}%</p>
      <p>Höhe: {{ hp }}%</p>
      <p>Latitude: {{ latitude }}</p>
      <p>Longitude: {{ longitude }}</p>
    </div>

</ion-content>
