// Merriweather

// @font-face {
//   font-family: 'Merriweather';
//   font-style: normal;
//   font-weight: 400;
//   src: url('../assets/fonts/Merriweather/Merriweather-Regular.ttf');
// }

// Roboto

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 200;
  src: url('../assets/fonts/Roboto/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: 600;
  font-weight: medium;
  src: url('../assets/fonts/Roboto/Roboto-Medium.ttf');
}
