.map-wrapper {
  position: relative;
}

.coord {
  height: 2rem;
  width: 2rem;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  svg {
    -webkit-filter: drop-shadow( 0 .5rem .5rem rgba($dark, .15));
    filter: drop-shadow( 0 .5rem .5rem rgba($dark, .15));
  }

  &.park {
    background: $dark;
    border-color: $dark;
  }
}

.location {
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  left: -1rem;
  top: 50%;
  transition: all 0.5s ease;
  background: #015CD8;
  border: .25rem solid $light;
  box-shadow: 0 .5rem .5rem rgba($dark, .15);
  border-radius: 100%;
}

div.info {
  position: fixed;
  bottom: .75rem;
  right: .75rem;
  background: $primary;
  border: .25rem solid $light;
  color: $light;
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  line-height: 2.5rem;
  text-align: center;
  font-size: 2rem;
  box-sizing: border-box;
  box-shadow: 0 .5rem .5rem rgba($dark, .15);

  &:hover {
    cursor: pointer;
  }
}

.hexagon {
  position: relative;
  width: 300px;
  height: 173.21px;
  background-color: #64C7CC;
  margin: 86.60px 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 86.60px solid #64C7CC;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 86.60px solid #64C7CC;
}
