// QR-Code Styles

body {

  #qropen {
    bottom: 4.25rem;
    background: $light;
    padding: .25rem;
  }

  &.qractive {
    ion-content, ion-header {
      display: none;
    }

    #qrclose {
      display: block;
      position: fixed;
      bottom: 1.5rem;
      left: 50%;
      transform: translateX(-50%);
      height: 4.5rem;
      width: 4.5rem;
      background: $primary;
      text-align: center;
      border: .25rem solid $light;
      color: $light;
      line-height: 4rem;
      font-size: 3rem;
      border-radius: 100%;
    }
  }

  &:not(.qractive) {
    #qrclose {
      display: none;
    }
  }
}
